name: Build Docker Image

on:
  workflow_dispatch:

jobs:
  buildx:
    runs-on: ubuntu-latest
    environment: Prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
          
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      # ReleaseTag
      - name: Set Version
        id: set-version
        run: |
          echo "::set-output name=version::$(date +"%Y%m%d")"
          echo $(date +"%Y%m%d")
          echo "::set-output name=status::success"

      # Build and push

      - name: Build dockerfile
        if: steps.set-version.outputs.status == 'success'
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            zhengxiongzhao/warp-svc:${{ steps.set-version.outputs.version }}
            zhengxiongzhao/warp-svc:latest  

